<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tasks</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <style>
        body {
            padding: 30px;
        }
    </style>
</head>
<body>
<table class="table table-hover">
    <thead style="background-color: chocolate">
    <tr>

        <th class="col-md-1">ID</p></th>
        <th class="col-md-2">DESCRIPTION</p></th>
        <th class="col-md-2">STATUS</p></th>
        <th class="col-md-1">ACTION</p></th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${tasks}">

        <td><span th:text="${task.id}"> ID </span></td>
        <td><span th:text="${task.description}"></span></td>
        <td><span th:text="${task.status}"></span></td>

        <td>
            <form th:action="@{{id}/edit(id=${task.id})}">
                <input type="submit" value="Edit"/>
            </form>

            <form th:method="DELETE" th:action="@{{id}/delete(id=${task.id})}">
                <input type="submit" value="Delete"/>
            </form>
        </td>

    </tr>
    </tbody>
</table>
<br>
<hr>
<br>
<input type="button" class="btn btn-success" value="Add new task" onclick="window.location.href = 'addTask' "/>

<!--    кнопки пейджинации-->
<br>
<br>
<h2>
    <button th:each="pageNumber : ${page_numbers} " class="btn btn-default btn-lg">
        <a th:href=" @{/(page=${pageNumber}, limit=6)} " th:text=" ${pageNumber} "
           th:classappend=" ${pageNumber == current_page? 'active_page' :  '' } "></a>
    </button>
</h2>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>
</body>
</html>